#fff {
    color: red;
}
.redText {
    color: brown;
}
.green .pink {
    color: green;
}

.paragraph{
    /* text-decoration: line-through;
    line-height: 50px; */
    font-style: oblique;
    width: 50vw;
    padding: 24px;
}